html,
body {
  overscroll-behavior: none;
}

.window-frame {
  width: 75vw;
  height: calc(
    100vh - 50px
  ); /* it's 50px bc the MovieDetails has bottom: 40px and this has top: 10px */
  overflow-y: scroll;
  border-radius: 30px;
}
