html,
body {
  overscroll-behavior: none;
}

/* 393px × 852px */
.carousel {
  background-color: #00777d;
  width: 100%;
  overflow: hidden;
}

.carousel-cell {
  opacity: 33%;
  user-select: none;
}

.carousel-cell.swiper-slide-active {
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}
