html,
body {
  overscroll-behavior: none;
}

/* 393px × 852px */
.carousel {
  background-color: #00777d;
  margin: 0 auto;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.carousel-cell {
  opacity: 33%;
  user-select: none;
}

.carousel-cell.swiper-slide-active {
  opacity: 100%;
}
